@using ResidentalManager.Common
@{
    this.ViewData["Title"] = "Property";
}


<section class="container">
    <div class="row ">
        <div class="col">
            @await Component.InvokeAsync("YearFinancial", new { realEstateId = ViewBag.realEstateId })
        </div>
        <hr />
        <div class="col">
            @await Component.InvokeAsync("ResidentsInfo", new { realEstateId = ViewBag.realEstateId })
        </div>
    </div>
        <hr />
        <div>
            @await Component.InvokeAsync("YearTaxes", new { realEstateId = ViewBag.realEstateId })
        </div>
  

</section>


@section PropertyLinks {
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Fees/All?realEstateId=@ViewBag.realEstateId">Fees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Properties_/All?realEstateId=@ViewBag.realEstateId">Properties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Expences/All?realEstateId=@ViewBag.realEstateId">Expences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Taxes/All?realEstateId=@ViewBag.realEstateId">Taxes</a>
    </li>
    <li class="nav nav-pills">
        <a class="nav-link text-info border" href="/Reports/Index?realEstateId=@ViewBag.realEstateId">Reports</a>
    </li>
}


