@model ResidentalManager.Web.ViewComponents.YearFinanacial.YearFinancialViewModel

<section>
    <h5>FINANCIAL INFORMATION FOR YEAR  @DateTime.UtcNow.Year </h5>
    <p></p>
    <h6>Income from taxes: @Model.IncomeTaxes лв.</h6>
    <h6>Expences: @Model.Expences лв.</h6>
    <h4 class="text-dark">TOTAL: @Model.Total лв.</h4>
</section>