@model IEnumerable<ResidentalManager.Web.ViewModels.Fees.AllFeesViewModel>
<section class="py-5">
    <div class="container">
        <div class="button-holder">
            <a href="/Fees/Create" class="btn btn-primary text-uppercase">Create</a>
        </div>
        <h1 style="margin: 2%; text-align: center;">Fees</h1>
        <div style="padding: 5%;">


            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Description</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fee in Model)
                    {
                        <tr>
                            <th scope="row">@fee.Name</th>
                            <td>@fee.Price</td>
                            <td>@fee.Description</td>
                            <td>
                                <div class="button-holder">
                                    <a href="/Fees/Update?id=@fee.Id" class="btn btn-info btn-sm text-uppercase">Edit</a>
                                </div>
                            </td>
                            <td>
                                <div class="button-holder">
                                    <a href="/Fees/Delete?id=@fee.Id" class="btn btn-info btn-sm text-uppercase">Delete</a>
                                </div>
                            </td>
                           
                        </tr>
                     }
                </tbody>
            </table>
        </div>
    </div>
</section>