@model IEnumerable<ResidentalManager.Web.ViewModels.Fees.FeesViewModel>
@{ ViewData["Title"] = "Fees";}
<section class="py-4">
    <h1 class="text-uppercase text-center">Monthly Fees</h1>

    <div class="button-holder">
        <a href="/Fees/Create?realEstateId=@ViewBag.realEstateId" class="btn btn-primary text-uppercase">Create</a>
    </div>
    <hr />
    <div class="container">
        <table class="table bg-transparent">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fee in Model)
                {
                    <tr>
                        <th scope="row">@fee.Name</th>
                        <td>@fee.Price</td>
                        <td>@fee.Description</td>
                        <td>
                            <div class="button-holder">
                                <a href="/Fees/Update?id=@fee.Id&realEstateId=@fee.RealEstateId" class="btn btn-warning btn-sm text-uppercase">Edit</a>
                            </div>
                        </td>
                        <td>
                            <div class="button-holder">
                                <a href="/Fees/Delete?id=@fee.Id&realEstateId=@fee.RealEstateId" class="btn btn-danger btn-sm text-uppercase">Delete</a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>



</section>

@section PropertyLinks {
    <li class="nav nav-pills">
        <a class="nav-link text-info border" href="/Fees/All?realEstateId=@ViewBag.realEstateId">Fees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Properties_/All?realEstateId=@ViewBag.realEstateId">Properties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Expences/All?realEstateId=@ViewBag.realEstateId">Expences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Taxes/All?realEstateId=@ViewBag.realEstateId">Taxes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Reports/Index?realEstateId=@ViewBag.realEstateId">Reports</a>
    </li>
}